<!DOCTYPE html>
<html lang="ja">
<%= render "shared/header"%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="full-height d-flex flex-column justify-content-around">
    <div class="container">
        <div class="row button-row">
            <div class="col-sm">
              <%= link_to(company_infos_path, class: 'btn btn-warning btn-lg btn-block') do %>
                <i class="fas fa-building"></i> 会社情報登録
              <% end %>
            </div>
            <div class="col-sm">
              <%= link_to(categories_path, class: 'btn btn-primary btn-lg btn-block') do %>
                <i class="fas fa-tags"></i> カテゴリ登録
              <% end %>
            </div>
            <div class="col-sm">
              <%= link_to("#", class: 'btn btn-secondary btn-lg btn-block') do %>
                <i class="fas fa-ruler"></i> 単位登録
              <% end %>
            </div>
        </div>
    </div>
  </div>
</body>
</html>

