<div class="full-height d-flex flex-column justify-content-around">
    <div class="container mt-2">
        <div class="row button-row mb-2">
            <div class="col-sm">
              <%= link_to(sales_quotation_items_path, class: 'btn btn-primary btn-lg btn-block') do %>
                <i class="fas fa-list-ul"></i> 販売見積一覧
              <% end %>
            </div>  
            <div class="col-sm">
            
            <%= link_to(purchase_quotations_path, class: 'btn btn-secondary btn-lg btn-block') do %>  
                <i class="fas fa-list-ul"></i> 仕入見積一覧
            <% end %>
        </div>
        
    </div>
  </div>