.button-row {
  margin-bottom: 40px;
}

.button-row .btn {
  margin-bottom: 40px;
}

.title-contents {
  height: 80px;
}

.col-sm {
  margin-top: 25px;
}

.full-height {
  height: 100vh;
}

body {
  background: linear-gradient(to bottom right, #f9f9f9, #e9ecef); /* グラデーション背景 */
}