.title-contents {
  background-color: green !important;
}

.navbar {
  height: 80px !important;
  background-color: green !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.navbar-brand {
  font-size: 30px !important;
  color: gold !important;
  font-family: 'DM Serif Display', serif;
}

.lists-right {
  display: flex !important;
  list-style: none !important;
  padding-left: 0 !important;
}

.lists-right li {
  margin-right: 10px !important;
  align-items: center !important;
  display: flex !important;
}

.user-name {
  color: cornsilk !important;
  font-size: 22px !important;
  text-decoration-line: none;
}

.btn-outline-light {
  color: white !important;
  border-color: white !important;
  transition: background-color 0.3s, color 0.3s !important;
}

.btn-outline-light:hover {
  background-color: white !important;
  color: green !important;
}

.btn-primary {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
  color: white !important;
  transition: background-color 0.3s !important;
}

.btn-primary:hover {
  background-color: #003d80 !important;
}

.btn-outline-success {
  color: lightgoldenrodyellow !important;
  border-color: lightgoldenrodyellow !important;
  transition: background-color 0.3s, color 0.3s !important;
}

.btn-outline-success:hover {
  background-color: #28a745 !important;
  color: white !important;
}

