.title-contents {
  background-color: lavender !important;
}

.navbar {
  height: 80px !important;
  background-color: lavender !important;
}

.navbar-brand {
  font-size: 30px !important;
  color: midnightblue !important;
}

.lists-right {
  display: flex !important;
  list-style: none !important;
  padding-left: 0 !important;
}

.lists-right li {
  margin-right: 10px !important;
  align-items: center !important;
  display: flex !important;
}

.user-name {
  color: black !important;
  font-size: 22px !important;
}

.navbar-brand.site-title {
  font-size: 30px !important;
}