.sales_quotations.new .nested-fields {
  display: none;
}


/* ベーススタイル */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* 販売見積リストのスタイル */
.table.table-bordered {
  border-collapse: collapse;
}


.amount {
  font-weight: bold;
  text-align: right;
}



/* 入力フィールドの横幅をセルの幅に合わせる */
.form-control {
  width: 100%; 
  box-sizing: border-box; /* paddingやborderを含む全体の幅を指定されたwidthに固定 */
}

.form-group label {
  margin-bottom: 0.5rem;
}

/* プルダウンの行の高さを調整 */
select.form-control {
  line-height: 1.5; 
}

/* プルダウンの高さを調整 */
select.form-control > option {
  padding: 5px 10px;
}
