<!DOCTYPE html>
<html>
  <head>
    <%= wicked_pdf_stylesheet_link_tag 'application' %>
    <meta charset='utf-8'>
    <%= wicked_pdf_stylesheet_link_tag 'bootstrap.min' %>
    <link href="<%= Rails.root.join('app', 'assets', 'stylesheets', 'pdf.css') %>" rel="stylesheet" type="text/css">

  </head>

  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
